# Merging Dataset Dating App Reviews

https://figshare.com/articles/dataset/Text_of_user_reviews_of_dating_apps/21895827

In [31]:
import pandas as pd
import numpy as np
import string
from IPython.display import display
from faker import Faker

# Dataset Laden

In [32]:
tinder_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\tinder.csv", encoding='ISO-8859-1')
tinder_reviews

                                                  content score thumbsUpCount
0       Matches can be misleading. I keep getting matc...     2             0
1       This app is not working. Whenever i got notifi...     1             0
2                                    They want you to pay     1             0
3       BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...     1             0
4       Used to be good and easy to use... Every time ...     2             0
...                                                   ...   ...           ...
538445                   Best app ever finally on android     5             2
538446  Tinder is extremely buggy on the galaxy S4 act...     1             0
538447                                    Keeps crashing.     1             0
538448  Crashes. Doesn't load. Total failure. Take it ...     1             0
538449              Finally the real Tinder is on Android     5             4

[538450 rows x 3 columns]

In [33]:
bumble_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\bumble.csv", encoding='ISO-8859-1')
bumble_reviews

                                                  content score thumbsUpCount
0       After being a premium user, I'm not able to lo...     1             0
1                                                  superb     1             0
2       Fraudulent App, If you install a basic version...     1             0
3       It's a lot better than Hinge, but it's still n...     3             0
4          good app, thanks dear women, you are beautiful     5             0
...                                                   ...   ...           ...
109865                                      Finally here!     5            54
109866                                           Finally!     5            76
109867  Finally, an app where women have to start the ...     4             2
109868                   At last we have Android version!     5            60
109869                                   Nice and smooth.     5            52

[109870 rows x 3 columns]

In [34]:
hinge_reviews= pd.read_csv("C:\\Users\\kaile\\OneDrive\\Documents\\S4\\notebooks\\21895827\\hinge.csv", encoding='ISO-8859-1')
hinge_reviews

                                                 content score thumbsUpCount
0      The chat function doesn't work no matter how m...     1             0
1      Would be great to have the option to just like...     4             0
2      I wrote three matches and no one got my message!!     1             0
3      You guys blocked me for no reason at all... An...     1             0
4      Absolutely useless, hardly anybody on it and t...     1             0
...                                                  ...   ...           ...
54854  Useless - I'm in the UK and it tells me i'm ov...     2             5
54855  I can't get past the initial set up.  It won't...     1            11
54856  This is incredible! A quality dating app for A...     5             1
54857            "Over Water" ... Can't choose location.     2             8
54858  My entire town counts as "over water" and I ca...     2            15

[54859 rows x 3 columns]

In [35]:
# Add an 'App' column to each dataset
tinder_reviews['App'] = 'Tinder'
bumble_reviews['App'] = 'Bumble'
hinge_reviews['App'] = 'Hinge'

In [36]:
# Align column names for consistency before merging
columns_to_keep = ['content', 'score', 'thumbsUpCount', 'App']
tinder_reviews = tinder_reviews[columns_to_keep]
bumble_reviews = bumble_reviews[columns_to_keep]
himge_reviews = hinge_reviews[columns_to_keep]

In [37]:
# Merge all datasets into a unified review dataset
all_reviews_combined = pd.concat([tinder_reviews, bumble_reviews, hinge_reviews], ignore_index=True)

In [38]:
# Display the DataFrame in a table format
display(all_reviews_combined)

,content,score,thumbsUpCount,App
0,Matches can be misleading. I keep getting matc...,2,0,Tinder
1,This app is not working. Whenever i got notifi...,1,0,Tinder
2,They want you to pay,1,0,Tinder
3,BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...,1,0,Tinder
4,Used to be good and easy to use... Every time ...,2,0,Tinder
...,...,...,...,...
703174,Useless - I'm in the UK and it tells me i'm ov...,2,5,Hinge
703175,I can't get past the initial set up. It won't...,1,11,Hinge
703176,This is incredible! A quality dating app for A...,5,1,Hinge
703177,"""Over Water"" ... Can't choose location.",2,8,Hinge
703178,"My entire town counts as ""over water"" and I ca...",2,15,Hinge

# EDA (Exploratory Data Analysis) & Data Cleaning

In [39]:
#Dataset laden 10 eerste rijen 
all_reviews_combined.head()

,content,score,thumbsUpCount,App
0,Matches can be misleading. I keep getting matc...,2,0,Tinder
1,This app is not working. Whenever i got notifi...,1,0,Tinder
2,They want you to pay,1,0,Tinder
3,BANNED ME FOR NO REASON AND I DIDN'T EVEN GET ...,1,0,Tinder
4,Used to be good and easy to use... Every time ...,2,0,Tinder

In [40]:
# Dataset laden 10 laatste rijen 
all_reviews_combined.tail()

,content,score,thumbsUpCount,App
703174,Useless - I'm in the UK and it tells me i'm ov...,2,5,Hinge
703175,I can't get past the initial set up. It won't...,1,11,Hinge
703176,This is incredible! A quality dating app for A...,5,1,Hinge
703177,"""Over Water"" ... Can't choose location.",2,8,Hinge
703178,"My entire town counts as ""over water"" and I ca...",2,15,Hinge

In [41]:
all_reviews_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703179 entries, 0 to 703178
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   content        701755 non-null  object
 1   score          703127 non-null  object
 2   thumbsUpCount  702592 non-null  object
 3   App            703179 non-null  object
dtypes: object(4)
memory usage: 21.5+ MB

In [42]:
all_reviews_combined.describe()

       content   score thumbsUpCount     App
count   701755  703127        702592  703179
unique  534901     430          1326       3
top       Good       1             0  Tinder
freq     14309  263702        573219  538450

In [45]:
# Visualize distributions of numeric columns
for column in all_reviews_combined.select_dtypes(include=['float64', 'int64']).columns:
    plt.figure()
    sns.histplot(data[column], kde=True)
    plt.title(f'Distribution of {column}')
    plt.show()

In [46]:
# Check for missing values
missing_values = all_reviews_combined.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 content          1424
score              52
thumbsUpCount     587
App                 0
dtype: int64

# Syntetische Data crëeren

In [ ]:
!pip install faker

In [ ]:
# Create a Faker instance
fake = Faker()

# Number of samples in all_reviews_combined
num_samples = len(all_reviews_combined)

# Generate synthetic 'Name' and 'Date&Time' data for the dataset
all_reviews_combined['Name'] = [fake.name() for _ in range(num_samples)]

# Generate synthetic 'Date&Time' data restricted to 2023
all_reviews_combined['Date&Time'] = [
    fake.date_time_between_dates(
        datetime_start=pd.Timestamp('2023-01-01 00:00:00'),
        datetime_end=pd.Timestamp('2023-12-31 23:59:59')
    ).strftime('%d-%m-%Y %H:%M') for _ in range(num_samples)
]

# Display the updated dataset
display(all_reviews_combined)

In [ ]:
# Rename columns in all_reviews_combined to match the first dataset
all_reviews_combined = all_reviews_combined.rename(columns={
    'content': 'Review',
    'score': 'Rating',
    'thumbsUpCount': '#ThumbsUp',
    'Name': 'Name',
    'Date&Time': 'Date&Time',
    'App': 'App'
})

# Reorder the columns to match the first dataset
all_reviews_combined = all_reviews_combined[['Name', 'Review', 'Rating', '#ThumbsUp', 'Date&Time', 'App']]

# Display the updated DataFrame
display(all_reviews_combined)

# EDA & Cleaning Dataset

First of all you have to do cleaning and EDA in both datasets before continuing further: So first pre processing from the data (cleaning + EDA) for this dataset (all_reviews_combined) and then (cleaning + EDA) for the first one(dating_review) and then last EDA for the merged one

In [ ]:
# Display the data types of each column
print(all_reviews_combined.dtypes)

In [ ]:
# Convert 'Rating' and '#ThumbsUp' columns to int64, handling non-numeric values as NaN
all_reviews_combined['Rating'] = pd.to_numeric(all_reviews_combined['Rating'], errors='coerce').astype('Int32')
all_reviews_combined['#ThumbsUp'] = pd.to_numeric(all_reviews_combined['#ThumbsUp'], errors='coerce').astype('Int32')

# Display the data types to confirm the change
print(all_reviews_combined.dtypes)

In [ ]:
all_reviews_combined

In [ ]:
# Save the final merged dataset to a CSV file for review
all_reviews_combined.to_csv("all_reviews_combined.csv", index=False)
print("Merged dataset saved as 'all_reviews_combined.csv'")

# Bronnen

https://medium.com/@robdelacruz/sentiment-analysis-using-natural-language-processing-nlp-3c12b77a73ec
https://www.analyticsvidhya.com/blog/2021/06/nlp-sentiment-analysis/